body
{
background-image: url("background.jpg");
background-repeat: no-repeat;
background-size: auto;
}

#imagebg {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 4, 38, 0.85);
	z-index: 10;
}
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}



.rectangle1
{
	width: 960px;
	margin: 20px;
	text-align: center;
	Font-size: 50px;
	color: white;

}
.square
{
	width: 50%;
	float: left;
	Font-size: 20px;




#logo
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 150px;
	width: 600px;


}
.zegar
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	font-style: normal;
	color: white;
}
}
.tile1
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #3095d3;
	float: left;
	text-align: center;

}
.tile1:hover
{
	background-color: #1073b1
}
.tile2
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #666666;
	float: left;
	text-align: center;
}
.tile2:hover
{
	background-color: #444444
}

.tile3
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #93c748;
	float: left;
	text-align: center;
}
.tile3:hover
{
	background-color: #71a526
}
.tile4
{
	margin: 10px;
	width: 480px;
	height: 142px;
	background-color: #ee5a32;
	text-align: center;
	font-size: 45px;


}
.tile4:hover
{
	background-color: #cc3a10;
}

.tile4_inactive {
	margin: 10px;
	width: 480px;
	height: 142px;
	background-color: grey;
	text-align: center;
	font-size: 45px;
}
.tile5
{
	font-family: 'Josefin Sans', sans-serif;
	text-align: justify;
	margin: 10px;
	width: 480px;
	height: 304px;
	background-color: rgba(63, 63, 63, 0.5);
	color: white;

}

a.dolacz {
	text-decoration: underline;
	color: white;
}

input {
	width: 75%;
}

input.rodo {
	/* coś tutaj */
	width: 5%;
}

a.rodo {
	color: red;
	cursor: grab;
}

.yt
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #d94348;
	float: left;
}
.yt:hover
{
	background-color: #b72126;
}
.fb
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #4668b3;
	float: left;
}
.fb:hover
{
	background-color: #2446a1;
}

.ig
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #e4405f;
	float: left;
}
.ig:hover
{
	background-color: #c2203d;
}
.tw
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #3095d3;
	float: left;
}
.tw:hover
{
	background-color: #1073b1;
}
.rectangle1
{
	width: 960px;
	margin: 20px;
	text-align: center;


}
.rectangle2 {
	color: white;
	text-align: center;
}

a.mailto:link {
	text-decoration: underline;
	color: white;
}

a.mailto:hover {
	color: red;
	cursor: grab;
}

a.mailto:active {
	color: red;
	cursor: grab;
}

a.mailto:visited {
	color: silver;
}

a.tilelink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}
a.tilelink2
{
	color: #ffffff;
	text-decoration: none;

}
a.sociallink
{
	color: #ffffff;
	text-decoration: none;
     width: 105px;
	 height: 142px;

}
a.sociallink2
{
	color: #ffffff;
	text-decoration: none;
     width: 105px;
	 height: 142px;

}
