
body{
  margin: 0;
  font-family: 'Roboto', sans-serif;

  /* overflow-y: hidden; */
  overflow-x: hidden;
}



.header-area{

  text-align: center;
  /* padding-top: 50px; */
  /* padding-bottom: 30px; */
  color: #FFF;
  height: 100vh;
  height: 100vh;
  background-image: url('./../bg/464.jpg');
  background-size: cover;
}

.bgfilter {
  text-align: center;

  color: #FFF;
  height: 100vh;
  height: 100vh;
  background-color: rgba(78, 85, 119, 0.55);
  background-size: cover;
}

.container{
  margin: auto;
  padding-top: 30px;
}

.space {
  padding: 50px;
}

.header-area img{
  padding-top: 35px;
  width: 400px;
  height: auto;
}

.header-area p{
  margin-bottom: 60px;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  /* color: rgb(159, 172, 230); oryginalny */
  color: rgb(18, 30, 64);
}

.header-area h1{
  font-size: 40px;
  text-transform: uppercase;
}

.header-area a i{
  color: #FFF;
  font-size: 35px;
  height: 40px;
  width: 40px;
  padding: 6px 6px;
  border: 4px solid #FFF;
  border-radius: 50%;
}



.header-area a:hover i:hover{
  color:  rgba(78, 85, 119, 0.85);
  font-size: 35px;
  height: 40px;
  width: 40px;
  padding: 6px 6px;
  border: 4px solid  rgba(78, 85, 119, 0.85);
  border-radius: 50%;
  background-color: #FFF;
}

.header-area h4 {
  font-size: 25px;
}

.about{
  padding: 0px;
  background-image: url('./../images/background/background.png');
  background-size: cover;
    height: 100vh;
}

.content{
  text-align: center;
  color: #2C323C;
  position: relative;
}

.content a i{
  color: rgb(159, 172, 230);
  font-size: 35px;
  height: 40px;
  width: 40px;
  padding: 6px 6px;
  border: 4px solid rgb(159, 172, 230);
  border-radius: 50%;
  bottom: 0;
}

.content a:hover i:hover{
  color:  #FFF;
  font-size: 35px;
  height: 40px;
  width: 40px;
  padding: 6px 6px;
  border: 4px solid  rgba(78, 85, 119, 0.85);
  border-radius: 50%;
  background-color: rgba(78, 85, 119, 0.85);
}

.about h2{
  font-size: 40px;
  text-transform: uppercase;
}



.wdol{
  margin-top: 500px;
}

.wdol h3{
  font-size: 35px;
  text-transform: uppercase;
}


.col{
  width: 31.33%;
  float: left;
  margin: 0 1%;
  overflow: hiden;
  text-align: justify;

}

.col h2{
  text-align: center;
}

.col h3{
  font-size: 14px;
  text-transform: uppercase;
}

.col1{
  width: 31.33%;
  float: left;
  margin: 0 1%;
  overflow: hiden;
  text-align: justify;
}

.col1 h3{
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.col1 h2{
  text-align: center;
}

.portfolio {
  background-color: #2C323C;
  color: white;
}

.portfolio .gora{
  padding-top: 20px;
  padding-bottom: 0;
}

.portfolio h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;

}

.portfolio a:link {
  color: rgb(218, 218, 218);
  margin: 5px

}

.portfolio a i{
  color: #FFF;
  font-size: 35px;
  height: 40px;
  width: 40px;
  padding: 6px 6px;
  border: 4px solid #FFF;
  border-radius: 50%;
  text-align: center;
}

.portfolio a:hover i:hover {
  color:  rgba(78, 85, 119, 0.85);
  font-size: 35px;
  height: 40px;
  width: 40px;
  padding: 6px 6px;
  border: 4px solid  rgba(78, 85, 119, 0.85);
  border-radius: 50%;
  background-color: #FFF;
  text-align: center;

}

.portfolio .container1{
  margin-top: -25px;
}


.zajecia ul{
  text-align: center;
  list-style: none; /* wyłączam punktowanie */
  margin: -15px;
  padding-bottom: 10px;
  /* margin-bottom: 40px; */
  font-size: 25px;
}

.zajecia ul li {
  display: inline; /*wywalam "enter */
  margin-right: 45px;
}

.zajecia ul li a {
  text-decoration: none;
  color: #FFF;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  padding: 5px 0;


}

.zajecia ul li a:hover{
  /* border-bottom: 2px solid rgb(0, 99, 198); */
  border: 2px solid rgb(78, 85, 119);
  border-radius: 25%;
  padding: 5px;
    color: #FFF;
}

.col img {
  width: 100%;
}

.col h3 a{
  color: #FFF;
  font-weight: normal; /*grubość fonta */

}

.col h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 0;
}

/* .col {
  text-align: center;
} */

/* Powyższe jest to samo co display block niżej */

.col a{
  text-decoration: none;
  color: rgb(0, 99, 198);
  text-align: center;
  display: block;
  /* margin: 0; */
  margin-bottom: 20px;
}

.button {
  text-align: center;
}

.button a{
  color: #FFF;
  text-decoration: none;
  background-color: rgb(6, 127, 159);
  padding: 8px;
  border-radius: 5px;
}

/* ----------------------------------------------- */

.gallery {
  background-image: url('./../image/background/background.png');
  background-size: cover;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  color: rgb(0, 99, 198);
}

.gallery h2 {
  text-transform: uppercase;
  font-size: 40px;
}

.gallery h3 {
  font-style: italic;

}

.gallery p {
  margin-bottom: 10px;
}

.zdjecia .col {
  margin-bottom: 9px;
  overflow: hidden;
}

.gallery .button a{
  margin-top: 10px;
  display: inline-block;
}

/*------------------------------*/
/* FORMULARZ DOŁĄCZENIA */

.dolacz {
  background-color: #2C323C;
  padding: 20px;
}

.dolacz a i{
  color: rgb(159, 172, 230);
  font-size: 35px;
  height: 40px;
  width: 40px;
  padding: 6px 6px;
  border: 4px solid rgb(159, 172, 230);
  border-radius: 50%;
  bottom: 0;
}

.dolacz a:hover i:hover{
  color:  rgba(78, 85, 119, 0.85);
  font-size: 35px;
  height: 40px;
  width: 40px;
  padding: 6px 6px;
  border: 4px solid  #FFF;
  border-radius: 50%;
  background-color: #FFF;
}

.container2 {
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.test {
  border: 5px solid #FFF;
  border-radius: 10px;
  width: 640px;
  text-align: center;
  align-items: center;
}
