body{
  margin: 0;
  font-family: segoe UI;
}

.header-area{
  background-color: #2C323C;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #FFF;
}

.container{
  width: 60%;
  margin: auto;
}

.header-area img{
  width: 100px;
  height: auto;
}

.header-area p{
  margin-bottom: 60px;
  font-size: 14px;
}

.header-area h1{
  font-size: 40px;
  text-transform: uppercase;
}

.header-area a i{
  color: #FFF;
  font-size: 12px;
  height: 12px;
  width: 12px;
  padding: 6px 6px;
  border: 1px solid #FFF;
  border-radius: 50%;
}

.about{
  padding: 30% 0;
  background-image: url('./../images/background/background.png');
  background-size: cover;
}

.content{
  text-align: center;
  color: #2C323C;
}

.about h2{
  font-size: 40px;
  text-transform: uppercase;
}

.col{
  width: 31.33%;
  float: left;
  margin: 0 1%;
  overflow: hiden;
}

.col h3{
  font-size: 14px;
  text-transform: uppercase;
}

.portfolio {
  background-color: #2C323C;
  padding: 40px 0;
  color: white;
}

.portfolio h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

.portfolio a:link {
  color: rgb(218, 218, 218);
  font-family: "Courier New";
  margin: 5px

}

.portfolio a:hover {
  color: yellow;
  cursor: crosshair;
}


.zajecia ul{
  text-align: center;
  list-style: none; /* wyłączam punktowanie */
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.zajecia ul li {
  display: inline; /*wywalam "enter */
  margin-right: 45px;
}

.zajecia ul li a {
  text-decoration: none;
  color: #FFF;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  padding: 5px 0;
}

.zajecia ul li a:hover{
  border-bottom: 2px solid rgb(0, 99, 198);
}

.col img {
  width: 100%;
}

.col h3 a{
  color: #FFF;
  font-weight: normal; /*grubość fonta */

}

.col h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 0;
}

/* .col {
  text-align: center;
} */

/* Powyższe jest to samo co display block niżej */

.col a{
  text-decoration: none;
  color: rgb(0, 99, 198);
  text-align: center;
  display: block;
  /* margin: 0; */
  margin-bottom: 20px;
}

.button {
  text-align: center;
}

.button a{
  color: #FFF;
  text-decoration: none;
  background-color: rgb(6, 127, 159);
  padding: 8px;
  border-radius: 5px;
}

/* ----------------------------------------------- */

.gallery {
  background-image: url('./../image/background/background.png');
  background-size: cover;
  padding: 10px 0;
  text-align: center;
  color: rgb(0, 99, 198);
}

.gallery h2 {
  text-transform: uppercase;
  font-size: 40px;
}

.gallery h3 {
  font-style: italic;

}

.gallery p {
  margin-bottom: 10px;
}

.zdjecia .col {
  margin-bottom: 9px;
  overflow: hidden;
}

.gallery .button a{
  margin-top: 10px;
  display: inline-block;
}
